
/* *** this is exteral CSS***/
body{
    background-color: antiquewhite;
    /* margin-left: 250px;
    margin-right: 250px; */
    padding-left: 20px;
}
h1{
    text-align: center;
}
.wisdom
{
    color: brown;
    text-align: center;
    background-color: burlywood;
    
    margin-left: 350px;
    margin-right: 250px;
}

.sprouts
{
    color: black;
    height: 30px;
    text-align: center;
    /* background-color: palevioletred; */
    margin-right:600px;
    margin-left:600px;
    font-size: larger;
}

.button
{
    color:black;
    background-color:grey;
    text-align: center;
    /* background-color: burlywood; */
    margin-right:200px;
    margin-left:700px;
    box-shadow:purple;
    font-size: larger;

}